{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Draft swagger file for Fujitsu K5 IaaS Auth API",
        "x-service": "identity",
        "x-scope": "global"
    },
    "host": "identity.gls.cloud.global.fujitsu.com",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "definitions": {
        "authenticatePasswordUnscoped": {
            "example": {
                "application/json": {
                    "auth": {
                        "identity": {
                            "methods": [
                                "password"
                            ],
                            "password": {
                                "user": {
                                    "domain": {
                                        "name": "domainName"
                                    },
                                    "name": "userName",
                                    "password": "userPassword"
                                }
                            }
                        }
                    }
                }
            },
            "properties": {
                "auth": {
                    "type": "object",
                    "properties": {
                        "identity": {
                            "type": "object",
                            "properties": {
                                "methods": {
                                    "items": {
                                        "type": "string",
                                        "default": "password"
                                    },
                                    "type": "array"
                                },
                                "password": {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "password": {
                                                    "type": "string"
                                                },
                                                "domain": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "required": [
                "auth"
            ],
            "type": "object"
        }
    },
    "paths": {
        "/v3/auth/tokens": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "operationId": "authenticatePasswordUnscoped",
                "parameters": [
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/authenticatePasswordUnscoped"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "examples": {
                            "application/json": {
                                "token": {
                                    "audit_ids": [
                                        "3T2dc1CGQxyJsHdDu1xkcw"
                                    ],
                                    "expires_at": "2015-11-07T02:58:43.578887Z",
                                    "extras": {},
                                    "issued_at": "2015-11-07T01:58:43.578929Z",
                                    "methods": [
                                        "password"
                                    ],
                                    "roles": [
                                        {
                                            "id": "51cc68287d524c759f47c811e6463340",
                                            "name": "admin"
                                        }
                                    ],
                                    "user": {
                                        "domain": {
                                            "id": "default",
                                            "name": "Default"
                                        },
                                        "id": "ee4dfb6e5540447cb3741905149d9b6e",
                                        "name": "admin"
                                    }
                                }
                            }
                        },
                        "headers": {
                            "X-Subject-Token": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "summary": "Authenticates an identity and generates a token. Uses the password authentication method. Authorization is unscoped.",
                "x-title": "Password authentication with unscoped authorization"
            }
        }
    }
}