{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Draft swagger file for Fujitsu K5 Portal Auth API",
        "x-service": "auth-api",
        "x-scope": "portal"
    },
    "host": "auth-api.jp-east-1.paas.cloud.global.fujitsu.com",
    "schemes": [
        "https"
    ],
    "definitions": {
        "postToken": {
            "type": "object",
            "example": {
                "application/json": {
                    "auth": {
                        "identity": {
                            "password": {
                                "user": {
                                    "password": "user-password",
                                    "contract_number": "xxxxxxxx",
                                    "name": "user-name"
                                }
                            }
                        }
                    }
                }
            },
            "properties": {
                "auth": {
                    "type": "object",
                    "properties": {
                        "identity": {
                            "type": "object",
                            "properties": {
                                "password": {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "password": {
                                                    "type": "string"
                                                },
                                                "contract_number": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/API/paas/auth/token": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "201 response",
                        "examples": {
                            "application/json": {
                                "token": {
                                    "scope": "paas",
                                    "user": {
                                        "contract_number": "xxxxxxxx",
                                        "name": "user-name"
                                    },
                                    "expires_at": "2016-05-16T03:20:42"
                                }
                            }
                        },
                        "schema": {
                            "type": "object"
                        },
                        "headers": {
                            "X-Access-Token": {
                                "type": "string"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/postToken"
                        },
                        "required": false,
                        "name": "body",
                        "in": "body"
                    }
                ],
                "summary": "Get access token"
            }
        }
    }
}
